.less-width {
  max-width: 600px !important;
}

body {
  background: linear-gradient(45deg, #9b59b6, #f1c40f);
  min-height: 100vh;
}

nav {
  z-index: 2;
}

#go-to-top > i {
  margin-right: 4px;
}

.carousel-item {
  height: 32rem;
}

.carousel-overlay {
  position: absolute;
  background-size: cover;
  background-position: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.container > p {
  padding-bottom: 0;
}

.carousel-item > .container {
  background-color: rgba(0, 0, 0, 0.5);
}

.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 1);
  opacity: 1;
  border-radius: 4px;
}

.carousel-control-prev-icon {
  background-color: rgba(0, 0, 0, 1);
  opacity: 1;
  border-radius: 4px;
}
